name: "Run lab tests: all"

on:
  push:
    branches:
      - master
    paths:
      - "src/**"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: Lab 1
            command: cd src/main && bash test-mr.sh
          - name: Lab 2A
            command: cd src/raft && time go test -run 2A -race
          - name: Lab 2B
            command: cd src/raft && time go test -run 2B -race
          - name: Lab 2C
            command: cd src/raft && time go test -run 2C -race
          - name: Lab 2D
            command: cd src/raft && time go test -run 2D -race
          - name: Lab 2
            command: cd src/raft && time go test -race
          - name: Lab 3A
            command: cd src/kvraft && time go test -run 3A -race
          - name: Lab 3B
            command: cd src/kvraft && time go test -run 3B -race
          - name: Lab 3
            command: cd src/kvraft && time go test -race
          - name: Lab 4A
            command: cd src/shardctrler && time go test -race
          - name: Lab 4B
            command: cd src/shardkv && time go test # can not set -race when testing lab 4b on GitHub Actions

      fail-fast: false

    name: "Test: ${{ matrix.name }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.15

      - name: Run tests
        run: ${{ matrix.command }}
